.header{
    background-image: url("img/bg_header.png");
    width: 100%;
    height: calc(100vh - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__content{
        padding-top: 7.22vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 3rem;
            letter-spacing: 0.3125rem;
            color: #fff;
            font-weight: 700;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
        }
        h3{
            font-size: 1.375rem;
            letter-spacing: 0.43rem;
            color: #fff;
            font-family: 'Josefin Sans', sans-serif;
            margin-top: 10px;
        }
        &_search{
            height: 8%;
            width: 60%;
            font-size: 0;
            margin: 40px 0 120px;
            opacity: 0.8;
            &:hover{
                opacity: 1;
            }
            form{
                height: 100%;
                width: 100%;
                display: flex;
                input[type="search"]{
                    height: 100%;
                    border: none;
                    flex-grow: 1;
                    text-align: center;
                    font-size: 0.875rem;
                    letter-spacing: 0.1875rem;
                    color: #999;
                    &:focus{
                        outline: none;
                    }
                }
                input:valid:not(:placeholder-shown){
                    border: 2px solid #008000;
                    border-right: none;
                    transform: scale(1.1);
                }
                input:valid:not(:placeholder-shown) + .search_btn{
                    border: 2px solid #008000;
                    border-left: none;
                    transform: scale(1.1);
                }
                input:invalid:not(:placeholder-shown){
                    border: 2px solid red;
                    border-right: none;
                }
                input:invalid:not(:placeholder-shown) + .search_btn{
                    border: 2px solid red;
                    border-left: none;
                }
                .search_btn{
                    width: 23%;
                    height: 100%;
                    background-color: #5474fd;
                    border: 2px solid #fff;
                    color: #fff;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.675rem;
                    letter-spacing: 0.0625rem;
                    font-weight: 400;
                    font-family: 'Aleo', serif;
                    text-transform: uppercase;
                    &:focus{
                        outline: none;
                    }
                    svg{
                        margin-left: 10px;
                    }
                }
            }
        }
        &_scroll{
            text-align: center;
            a{
                .scroll_text{
                    font-size: 0.875rem;
                    letter-spacing: 0.1875rem;
                    color: #fff;
                    margin-bottom: 10px;
                }
            }
            &:hover {
                text-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
                transform: scale(1.1);
            }
        }
    }
    &__footer{
        height: 10%;
        background-color: #5474fd;
        .header__menu{
            justify-content: space-between;
            align-items: center;                   
            h2{
                font-size: 1.5rem;
                letter-spacing: 0.125rem;
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
            }
            .menu__nav{
                width: 48%;
                .menu__label,
                .menu__input {
                    display: none;
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    li {            
                        text-align: center;
                        list-style-type: none;
                        font-size: 0.675rem;
                        color: #fff;
                        font-weight: 400;
                        font-family: 'Aleo', serif;
                        text-transform: uppercase;
                        &:hover{
                            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
                            transform: scale(1.02);
                        }
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}