.vacation{
    background-image: url("img/bg_section2.png");
    width: 100%;
    &__content{
        padding: 200px 0 100px;
        display: flex;
        align-items: flex-end;
        .vacation__book{
            width: 48.73%;
            background-color: rgba(37, 33, 33, 0.9);
            padding: 30px 20px;
            .book__subheader{
                font-size: 1.25rem;
                letter-spacing: 0.125rem;
                line-height: 1.625rem;
                color: #e8e8e8;
                margin-bottom: 25px;
            }
            .book__header{
                font-size: 1.25rem;
                line-height: 1.625rem;
                color: #fefefe;
                text-transform: uppercase;
            }
            .book__text{
                font-size: 1rem;
                line-height: 1.625rem;
                color: #e8e8e8;
                margin: 20px 0 30px;
            }
            .book_btn{
                @include button;
            }
        }
    }
}
.second{
    background-image: url("img/bg_section3.png");
    width: 100%;
    .vacation__content{
        justify-content: flex-end;
    }
}