@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    height: 100%;
}
.wrapper{
    width: 100%;
}
.header__background{
    background-image: url("img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.header__content{
    width: 78%;
    max-width: 1170px;
    padding-top: 50px;
    position: relative;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    line-height: 50px;
    color: #262626;
    font-weight: 400;
}
.menu__nav{
    width: 48%;
    display: flex;
    justify-content: space-between;
}
li {
    display: inline-block;
    list-style-type: none;
    font-size: 16px;
    line-height: 25px;
    color: #262626;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding: 6px 0;
}
a:link, a:visited{
    text-decoration: none;
    color: #262626;
}
.menu__nav li:hover,
.menu__nav li:first-of-type{
    cursor: pointer;
    padding: 3px 0;
    border-top: 3px solid #ff6033;
}
.scroll:hover{
    transform: scale(1.2);
}
.header__info{
    width: 32%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -30px;
}
.header__info_header{
    font-size: 60px;
    line-height: 60px;
    color: #262626;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}
.header__info_text{
    font-size: 17px;
    line-height: 27px;
    color: #262626;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0;
}
.header__info_button{
    width: 200px;
    height: 55px;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.5));
    background-color: #ff6033;
}
.header__footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
}
.body{

}
.about__bg{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #00b0b0;
    padding: 30px 0;
}
.about{
    width: 78%;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.about__img{
    width: 56%;
    margin-left: -35px;
}
.about__img > img{
    width: 100%;
}
.about__info{
    width: 50%;
    padding-left: 80px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -30px;
}
.about__info_header{
    font-size: 90px;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
.about__info_text{
    font-size: 17px;
    line-height: 27px;
    color: #fff;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
}
.contact_bg{
    background-image: url("img/bg_footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.contact{
    width: 78%;
    max-width: 1170px;
    padding-top: 90px;
    height: 100%;
}
.contact__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 65.12%;
}
.contact__content_inputs{
    width: 57.27%;
}
.contact__content_inputs form{
    display: flex;
    flex-direction: column;
    width: 74.63%;
    height: 100%;
}
input[type="text"]{
    height: 50px;
}
input[type="text"],
textarea{
    background-color: #00c4c4;
    opacity: 0.5;
    border: 0 solid;
    margin-bottom: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
}
input[type="text"]:focus,
textarea:focus{
    outline: none;
    opacity: 1;
}
textarea{
    height: 44.32%;
    resize: none;
    margin-bottom: 0;
    padding-top: 15px;
}
.footer__bg{
    background-color: #262626;
    display: flex;
    justify-content: center;
}
.footer{
    width: 78%;
    max-width: 1170px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}
.contact__header{
    margin-bottom: 40px;
}
.contact__header h1{
    font-size: 90px;
    color: #262626;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
}
.contact__header p{
    font-size: 17px;
    line-height: 25px;
    color: #262626;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}
.contact__content_info div h2{
    font-size: 17px;
    line-height: 25px;
    color: #262626;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.contact__content_info div p{
    font-size: 20px;
    line-height: 25px;
    color: #262626;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}
.footer p{
    font-size: 16px;
    line-height: 25px;
    color: #b9b9b9;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}
.footer p:nth-child(2){
    font-size: 25px;
    line-height: 25px;
    color: #b9b9b9;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
}
.creator_color{
    color: #ff2b58;
}