@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
html,
body {
    height: 100%;
}
.bg{
    width: 100%;
    height: 100vh;
    background-color: #e5eeee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper_position{
    width: 400px;
    height: 496px;
    position: relative;
}
.wrapper{
    background-image: linear-gradient(32deg, #2f23ad 0%, #c76dd7 100%);
    width: 400px;
    height: 496px;
    position: relative;
    z-index: 1;
}
.wrapper_bg{
    width: 400px;
    height: 496px;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}
.content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 70px;
}
.content input[type="radio"] {
    visibility: hidden;
    width: 0;
}
.content input[type="radio"] + label{
    font-size: 18px;
    color: #e1c2f1;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin-left: -4px;
    padding-bottom: 4px;
    margin-right: 22px;
}
.content input[type="radio"]:checked + label{
    color: #fbf6e4;
    border-bottom: 2px solid #e66a64;
}
.content input:first-child:checked ~ .tab_content > div:last-child,
.content input:nth-child(3):checked ~ .tab_content > div:first-child {
    display: none;
}
.tab_content{
    margin-top: 55px;
}
.signing__username,
.signing__password{
    margin-bottom: 15px;
}
.signing__username label,
.signing__password label{
    font-size: 16px;
    color: #fbf6e4;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}
.signing__username input,
.signing__password input{
    width: 100%;
    background-color: rgba(229,238,238,0);
    border: 2px solid rgba(191,185,204,0.54);
    height: 42px;
    font-size: 16px;
    color: #fbf6e4;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
}
.signing__username input:focus,
.signing__password input:focus{
    outline: none;
}
.signing__check{
    height: 16px;
    vertical-align: middle;
    font-size: 13px;
    color: #fbf6e4;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
}
input[type=checkbox]{
    position:absolute;
    z-index:-1000;
    overflow: hidden;
}
.check_img{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #23ae92;
    vertical-align: top;
}
#check:checked ~ .check_img{
    background-image: url("img/check.png");
    background-repeat: no-repeat;
    background-position: center;
}
.signing__button{
    margin-bottom: 30px;
    height: 42px;
    background-color: #23ae92;
    width: 100%;
    font-size: 18px;
    color: #fbf6e4;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    border: none;
    outline: none;
}
.signing__links{
    display: flex;
    justify-content: space-between;
}
.signing__links a{
    text-decoration: none;
    font-size: 13px;
    color: #b9b9cc;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 2px;
    border-bottom: 1px solid #96c1da;
}
.shadow{
    background-image: url("img/shadow.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 466px;
    height: 196px;
    position: absolute;
    left: -33px;
    bottom: -70px;
    z-index: 0;
}
